body{
	background: #F7F9FC;
	color: black;
	font-family: Noto Sans JP;
	font-size: 30px
	font-weight: inherit;
width: 700px; margin: 40px auto; vertical-align: top;

}

h2,h3{font-family: Noto Sans JP;
width: 700px; margin: 40px auto;}

h1{color:#779BE7;
	font-size: 38px;
	font-weight: bold;
	font-family: Poppins;
	width: 700px; margin: 40px auto; vertical-align: top;

}

p{text-align: center;}

h2{
	color: #1f3c88;
	font-size:24px;
	font-weight: bold;
	width: 700px; margin: 40px auto;vertical-align: top;
}

a{text-decoration: none;
color: #0f3057;
font-weight: 600;
font-size: 42px;
width: 700px; margin: 40px auto;}

img{width: 100px;}

Custom design with class

.container{
	width: 700px; margin: 40px auto;
}

@media(max-height: 500px;) 
{.container {width: 400px;}
}

@media(max-height: 760px;) 
{.container {width: 600px;}
}

.card-white{background-color: white; padding: 1px; 
box-shadow: 0px 0px 23px rgba(0,0,0,0.1);
border-radius:4%; text-align: center;
margin: 20px;}

.img-circle{border-radius: 50%}

.list-inline li{display: inline; padding: 10px;}
.list-inline i: hover{color: black}

.paragraph{text-align: center;}

